<div class="container-fluid">
  <div class="row">
    <div class="col-md-1 img-div">
      <img src="http://image.tmdb.org/t/p/w154/e9pnEoAIunJF9OK3CmEevPf5PUk.jpg">
    </div>    <div class="col-md-1">
      <img src="http://image.tmdb.org/t/p/w154/e9pnEoAIunJF9OK3CmEevPf5PUk.jpg">
    </div>    <div class="col-md-1">
      <img src="http://image.tmdb.org/t/p/w154/e9pnEoAIunJF9OK3CmEevPf5PUk.jpg">
    </div>    <div class="col-md-1">
      <img src="http://image.tmdb.org/t/p/w154/e9pnEoAIunJF9OK3CmEevPf5PUk.jpg">
    </div>    <div class="col-md-1">
      <img src="http://image.tmdb.org/t/p/w154/e9pnEoAIunJF9OK3CmEevPf5PUk.jpg">
    </div>    <div class="col-md-1">
      <img src="http://image.tmdb.org/t/p/w154/e9pnEoAIunJF9OK3CmEevPf5PUk.jpg">
    </div>    <div class="col-md-1">
      <img src="http://image.tmdb.org/t/p/w154/e9pnEoAIunJF9OK3CmEevPf5PUk.jpg">
    </div>    <div class="col-md-1">
      <img src="http://image.tmdb.org/t/p/w154/e9pnEoAIunJF9OK3CmEevPf5PUk.jpg">
    </div>    <div class="col-md-1">
      <img src="http://image.tmdb.org/t/p/w154/e9pnEoAIunJF9OK3CmEevPf5PUk.jpg">
    </div>    <div class="col-md-1">
      <img src="http://image.tmdb.org/t/p/w154/e9pnEoAIunJF9OK3CmEevPf5PUk.jpg">
    </div>    <div class="col-md-1">
      <img src="http://image.tmdb.org/t/p/w154/e9pnEoAIunJF9OK3CmEevPf5PUk.jpg">
    </div>    <div class="col-md-1">
      <img src="http://image.tmdb.org/t/p/w154/e9pnEoAIunJF9OK3CmEevPf5PUk.jpg">
    </div>    <div class="col-md-1">
      <img src="http://image.tmdb.org/t/p/w154/e9pnEoAIunJF9OK3CmEevPf5PUk.jpg">
    </div>
  </div>
</div>